scripts/auto_commit.sh
node_modules/
dist/
build/
target/
src-tauri/gen/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/desktop-apps/react-native/node_modules
/desktop-apps/tauri/node_modules
/desktop-apps/tauri/dist
/desktop-apps/tauri/src-tauri/gen
/desktop-apps/tauri/src-tauri/target
/desktop-apps/tauri/src-tauri/target/debug
.DS_Store
